/* ----------------- 12 col grid ------------------ */

#page-wrapper {
    background-image: url(images/960_grid_12_col.png);
    background-repeat: repeat-y;
    background-position: center top;
}


#navigation h2 {
    display: none;
}



.region-sidebar-first ul.menu li {
    list-style-image: none;
    list-style-type: none;
    display: block;
    padding: 1%;
}



