/* ----------------- 12 col grid background ------------------ */

#page-wrapper {
    background-image: url(images/960_grid_12_col.png);
    background-repeat: repeat-y;
    background-position: center top;
}


#navigation h2 {
    display: none;
}



.region-sidebar-first ul.menu li {
    list-style-image: none;
    list-style-type: none;
    display: block;
    padding: 1%;
}



/* ------------------ Betu meretek ------------------- */

.grid_3 .section{
    font-size: 85%;
    line-height: 130%;
}

.grid_3 h2 {
    line-height: 130%;
}

.grid_4 .section {
    font-size: 95%;
    line-height: 140%;
}