/* -------------- Cimlap tartalom elrejtese ------------------ */

.front .region-content,
.front h1.title {
    display: none;
}


#page-wrapper {
    font-size: 80%;
}

#page-wrapper h2,
#page-wrapper h3,
#page-wrapper h4 {
    font-weight: bold;
}

#navigation {
    height: 26px;
    border-bottom: 2px solid #EBEBEB;   
}


#navigation h2 {
    display: none;
}



.region-sidebar-first ul.menu li {
    list-style-image: none;
    list-style-type: none;
    display: block;
    padding: 1%;
}

#main-menu li {
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    margin-right: 3px;
    border-top-left-radius: 8px;
    -moz-border-left-top-radius: 8px;
    -webkit-border-left-top-radius: 8px;
    -o-border-left-top-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-right-top-radius: 8px;
    -webkit-border-right-top-radius: 8px;
    -o-border-right-top-radius: 8px;
    padding: 0.4em 1em 0.4em 1em;
    /*box-shadow: 1px -1px 2px gray;*/
    background-image: url(images/primaryTab.jpg);
    background-repeat: no-repeat;
}

#main-menu a {
    font-weight: bold;
    color: #8C7777;
    font-size: 80%;
}

#main-menu .links {
    border-bottom: 2px solid gray;
}


/* -------------- Kis kepek a cimlapon ------------------ */

.views-field-field-text-under-the-picture {
    line-height: 120%;
    color: #666;
}

#four-column-wrapper {
    padding: 3% 0 5% 0;
}

.flexslider { 
  -webkit-box-shadow: none;
  -moz-box-shadow: none; 
  -o-box-shadow: none; 
  box-shadow: none;
  zoom: 1;
  border: none;
}





/* -------------- Szurke resz alul ------------------ */

#site-middle-wrapper {
    background-color: #777;
    background-image: url(images/footer_bg.jpg);
    background-repeat: repeat-x;
    background-position: top;
    margin-bottom: 5%;
}



#site-middle-wrapper h2,
#site-middle-three h2 {
    font-size: 1.1em;
}

#site-middle-wrapper h2,
#site-middle-wrapper a,
#site-middle-three {
    color: #c9c9c9;
}

#site-middle-wrapper .views-row {   /* -- + jelek a felsorolasban -- */
    background-image: url(images/footer_li.gif);
    background-repeat: no-repeat;
    background-position: left center;
}

#site-middle-wrapper .field-content { /* -- behuzas balrol a + jelek miatt */
    padding-left: 10px;
    font-size: 0.9em;
}

#site-middle-wrapper,
.view-id-negy_az_egyben {
    margin-top: 3%;
}

#site-middle-one,
#site-middle-two,
#site-middle-three {
    margin-top: 1%;
    margin-bottom: 1%;
}

.region-site-middle-one,
.region-site-middle-two,
.region-site-middle-three {
    padding: 0 10% 10% 10%;
}

#site-middle-wrapper .block-views {
    margin-top: 10%;
}


/* -------------- Minden tartalom betu szine  ------------------ */

.graytext,          /* egyedileg hozza adva */
#main-wrapper h1,
#sidebar-first a,
#sidebar-first h2 {
    /*background-color: yellow;*/
    color: #666;
}

/* -------------- Felsorolas es behuzas ------------------ */

.graytext li {
    margin-bottom: 2%;
    margin-left: 5%;
    line-height: normal;
}


/* -------------- Tartalom ------------------ */

#main-wrapper h1 {
    padding-left: 5%;
}


.content-text,          /* egyedileg hozza adva */
.content-picture,       /* egyedileg hozza adva */
.graytext {
    padding: 0 5% 2% 5%;
    line-height: normal;
}

/* -------------- Sidebat first ------------------ */

#sidebar-first .section {
    /*background-color: yellow;*/
    padding: 10%;
}

/* -------------- Reviews ------------------ */

.review,
.review-name {
    font-style: italic;
    font-family: georgia;
}

.review-name {
    text-align: right;
    margin-right: 3%;
}

#block-menu-menu-menu-featured-projects {
    margin-bottom: 5%;
}


/* -------------- Szurke alul harmadik blokk plusz jel tiltas ------------------ */

#site-middle-three .views-row {
    background-image: none;
}
